*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Contenedor*/
.container{
    display: flex;
    height: 500px;
    width: 800px;
    
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
body{
    background-color:rgba(42, 51, 72,0.95);
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color:white;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline:none ;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgba(174, 149, 86, 0.98);
}
.form{
   text-decoration: none;
   margin-top: 20px; 
}
.form a:hover{
    color: blue;

}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: burlywood;
}
.side img{
    width: 100%;
    height: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position:relative;
}