*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

}
.social{
    position: fixed;
    left: 0;
    top: 500px;
    z-index: 2000;
}
.social ul {
    list-style: none;
}
.social ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social ul li .icon-instagram{background: rgba(174, 165, 185, 0.98);}
.social ul li .icon-whatsapp{background: rgba(47, 233, 93, 0.98);}
.social ul li .icon-facebook{background: rgba(14, 90, 161, 0.98);}
.social ul li .icon-google2{background: rgba(212, 78, 15, 0.98);}

.social ul li a:hover{
    padding: 10px 30px;
    background: rgba(174, 149, 86, 0.98);

}